<div class="col-sm-9">
  <% if @job_applications.empty? %>
    <h1>You dont have any applications.</h1>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading"><h1>Applications</h1></div>
      <div class="panel-body">
        <% @job_applications.each do |application| %>

          <% if current_user.admin? %>
            <li><%= link_to application.job.title, job(application.job)%> <small>Applied on <%= application.created_at%></small></li>
            <li><%= link_to application.resume, job(application.job)%> <small>Applied on <%= application.created_at%></small></li>

      <% else %>
            <li><%= link_to application.job.title, job_applications_url(current_user, application)%> <small>Applied on <%= application.created_at%>  | <%= link_to application.resume%> </small></li>
          <% end %>
          <%= fa_icon 'industry' %> <%= application.job.company%>
          <% if current_user.admin? %>
            <li>Applicant: <%= application.applicant.email %></li>
          <% end %>
          <br></br>
        <% end %>
      </div>
    </div>
  <% end %>
</div> <!-- end col-sm-6 -->
